<div class="row">
	<div class="large-6 columns small-centered">
		<%= form_for(@dumblaw) do |f| %>
			<%= f.label :title %>
			<%= f.text_field :title %><br />
			<%= f.label	:description %>
			<%= f.text_field :description %><br />
			<%= f.label :source %>
			<%= f.text_field :source %><br />
			<%= submit_tag("submit") %>
		<% end %>
	</div>
</div>